<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.authz.dao.daointerface.IAuthzUserDao" >

	<!-- 查询用户信息列表 -->
	<select id="getPagedList" parameterType="UserModel" resultType="UserModel">
		select * from (
			select yhm,xm,mm,sjhm,dzyx,yhzt,
			(select listagg(jsmc,',') within GROUP (order by jsmc) from zftal_xtgl_jsxxb t1 where exists (select 1 from zftal_xtgl_yhjsb t2 where t1.jsdm=t2.jsdm and t2.yhm=a.yhm)) jsxx from zftal_xtgl_yhb a 
		) where 1=1 
		<if test="searchModel.querySQL != null and searchModel.querySQL !=''">
			 and ${searchModel.querySQL}
		</if>
		<if test="queryModel.sortName != null and queryModel.sortName != '' and queryModel.sortOrder != null and queryModel.sortOrder != ''">
			order by ${queryModel.sortName} ${queryModel.sortOrder}
		</if>
	</select>
	
   	<!-- 查询单个用户信息 -->
    <select id="getModel" parameterType="UserModel" resultType="UserModel">
    	select t.*,
    	(select listagg(jsmc,',') within GROUP (order by jsmc) from zftal_xtgl_jsxxb t1 where exists (select 1 from zftal_xtgl_yhjsb t2 where t1.jsdm=t2.jsdm and t2.yhm=t.yhm)) jsxx
    	from zftal_xtgl_yhb t where yhm=#{yhm}
    	<if test="mm != null and mm != ''">
   			and mm = #{mm}
   		</if>
    </select>
    
    <!-- 增加用户 -->
    <insert id="insert" parameterType="UserModel">
    	insert into zftal_xtgl_yhb (yhm,xm,mm,sjhm,dzyx,yhzt) values (#{yhm},#{xm},#{mm},#{sjhm},#{dzyx},#{yhzt})
    </insert>
    
   	<!-- 修改用户信息 -->
    <update id="update" parameterType="UserModel">
    	update zftal_xtgl_yhb 
    	<set>
    		<if test="xm != null and xm != ''">
    			xm = #{xm},
    		</if>
    		<if test="mm != null and mm != ''">
    			mm = #{mm},
    		</if>
    		<if test="sjhm != null and sjhm != ''">
    			sjhm = #{sjhm},
    		</if>
    		<if test="dzyx != null and dzyx != ''">
    			dzyx = #{dzyx},
    		</if>
    		<if test="yhzt != null and yhzt !=''">
    			yhzt = #{yhzt},
    		</if>
    	</set> 
    	where yhm=#{yhm} 
    </update>
	
	
	<!-- 保存用户角色信息 -->
    <insert id="zjYhjsxx" >
    	insert into zftal_xtgl_yhjsb (yhm,jsdm) 
		<foreach collection="jsdms" item="item" index="index" separator="union all">
            select #{yhm},#{item} from dual
        </foreach>
    </insert>
	
	<!-- 删除用户角色信息 -->
    <delete id="scYhjsxx" >
    	delete zftal_xtgl_yhjsb 
    	<where>
    		<foreach collection="yhm" item="item" index="index" separator=" OR">
				   yhm = #{item} 
			</foreach>
    	</where> 
    </delete>
	
    <!-- 删除用户信息 -->
    <delete id="scYhxx" >
    	delete zftal_xtgl_yhb  
    	<where>
		    <foreach collection="yhm" item="item" index="index" separator=" OR">
				   yhm = #{item} 
			</foreach>
		</where> 
    </delete>
    
    <!-- 批量更新启用停用 -->
     <update id="batchUpdate" parameterType="hashMap">
		update zftal_xtgl_yhb set yhzt = #{yhzt}
		<where>
			<foreach collection="yhms" item="item" index="index" separator=" OR">
			   yhm = #{item} 
			</foreach>
		</where>
	</update>
    
    <!-- 批量修改用户密码 -->
    <update id="updateYhmm">
    	update zftal_xtgl_yhb set mm=#{password} where 
    	<foreach collection="yhms" item="item" index="index" separator=" OR">
		   yhm = #{item} 
		</foreach>
    </update>
    
    <!-- 查询未分配用户信息列表 -->
	<select id="getPagedWfpyhList" parameterType="RoleModel" resultType="UserModel">
		 select * from (
		 	select  yhm,xm,sjhm,dzyx,yhzt
		 	from zftal_xtgl_yhb t1 where not exists (select 1 from zftal_xtgl_yhjsb t2 where t1.yhm=t2.yhm and t2.jsdm=#{jsdm}) 
		 ) where 1 = 1 
		 <if test="searchModel.querySQL != null and searchModel.querySQL !=''">
				and ${searchModel.querySQL}
		 </if>
	</select>

	<!-- 查询已分配用户信息列表 -->
	<select id="getPagedYfpyhList" parameterType="RoleModel" resultType="UserModel">
		select * from (
			select  yhm,xm,sjhm,dzyx,yhzt
			from zftal_xtgl_yhb t1 where  exists (select 1 from zftal_xtgl_yhjsb t2 where t1.yhm=t2.yhm and t2.jsdm=#{jsdm}) 
		) where 1 = 1 
		<if test="searchModel.querySQL != null and searchModel.querySQL !=''">
			and ${searchModel.querySQL}
		</if>
	</select>

	<!-- 用户角色列表 -->
	<select id="getJsxxListByZgh" parameterType="string" resultType="RoleModel">
    	select t1.jsdm,t1.jsmc,t1.jssm,t1.qyzt from zftal_xtgl_jsxxb t1 where exists (select 1 from zftal_xtgl_yhjsb t2 where t1.jsdm=t2.jsdm and t2.zgh=#{zgh}) and qyzt='1'
    </select>
    
    <select id="getRoles" parameterType="string" resultType="string">
    	select distinct t.jsdm
		  from zftal_xtgl_yhjsb t
		 where t.yhm = #{yhm,jdbcType=VARCHAR}
    </select>
    
    <select id="getPermissions" parameterType="string" resultType="string">
		select distinct nvl(z.qxdm, z.gnmkdm || '_' || z.czdm) as qxdm
		  from zftal_xtgl_yhzgnmkczb t,
		       zftal_xtgl_yhzyhgxb   x,
		       zftal_xtgl_gnmkczb    y,
		       zftal_xtgl_gnmkczb    z
		 where t.yhz = x.yhz
		   and t.gnczid = y.gnczid
		   and y.gnczid = z.gnczid
 		   and x.yhm = #{yhm,jdbcType=VARCHAR}
    </select>
    
</mapper>