<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.authz.dao.daointerface.IAuthzRoleDao" >

    <!-- 增加角色信息 -->
    <insert id="insert" parameterType="RoleModel">
    	insert into zftal_xtgl_jsxxb(
    	<if test="jsdm != null and jsdm != ''">jsdm,</if>
   		jsmc,jssm,jszt,jslx,yhm) values (
   		<if test="jsdm != null and jsdm != ''">#{jsdm},</if>
   		#{jsmc},#{jssm},#{jszt},#{jslx},#{yhm})
   		<selectKey keyProperty="jsdm" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>
    </insert>
    
    <!-- 修改角色信息 -->
    <update id="update" parameterType="RoleModel">
    	update zftal_xtgl_jsxxb t
    	<set>
    		<if test="jsmc != null">
    			t.jsmc = #{jsmc},
    		</if>
    		<if test="jssm != null">
    			t.jssm = #{jssm},
    		</if>
    		<if test="jszt != null">
    			t.jszt = #{jszt}
    		</if>
    	</set> 
    	where jsdm=#{jsdm} 
    </update>
    
    <!-- 删除角色信息 -->
    <delete id="batchDelete" >
   	 	delete zftal_xtgl_jsxxb t where t 
    	 <foreach collection="list" item="item" index="index" separator=" OR">
			   t.jsdm = #{item.pkValue} 
		</foreach>
    </delete>
    
    <!-- 查询角色信息列表（分页） -->
    <select id="getPagedList" parameterType="RoleModel"  resultType="RoleModel">
    	select * from (
			select t.jsdm,t.jsmc,t.jssm,t.jslx,t.jszt,t.yhm,
		       (select x.xm from zftal_xtgl_yhb x where x.yhm = t.yhm) xm,
		       (select count(1) from zftal_xtgl_yhjsb t2 where t.jsdm = t2.jsdm) yhs
		  from zftal_xtgl_jsxxb t ) where 1 = 1
    	<if test="searchModel.querySQL != null and searchModel.querySQL !=''">
			 and ${searchModel.querySQL}
		</if>
		<if test="queryModel.sortName != null and queryModel.sortName != '' and queryModel.sortOrder != null and queryModel.sortOrder != ''">
			order by ${queryModel.sortName} ${queryModel.sortOrder}
		</if>
    </select>
    
    <!-- 查询可用全部角色 -->
    <select id="getModelList"   resultType="RoleModel">
		select t.jsdm,
		       t.jsmc,
		       t.jssm,
		       t.jslx,
		       t.jszt,
		       t.yhm,
		       (select x.xm from zftal_xtgl_yhb x where x.yhm = t.yhm) xm,
		       (select count(1) from zftal_xtgl_yhjsb t2 where t.jsdm = t2.jsdm) yhs
		  from zftal_xtgl_jsxxb t
		 where t.jszt = '1'
    </select>
    
	<!-- 查询单条角色信息 -->
    <select id="getModel" parameterType="RoleModel" resultType="RoleModel">
        select t.jsdm,
		       t.jsmc,
		       t.jssm,
		       t.jslx,
		       t.jszt,
		       t.yhm,
		       (select x.xm from zftal_xtgl_yhb x where x.yhm = t.yhm) xm,
		       (select count(1) from zftal_xtgl_yhjsb t2 where t.jsdm = t2.jsdm) yhs
		  from zftal_xtgl_jsxxb t
		 where t.jsdm = #{jsdm}
    </select>

	<!-- 删除角色信息 -->
	<delete id="delete" parameterType="RoleModel" >
		delete from zftal_xtgl_jsxxb t where t.jsdm = #{jsdm}
	</delete>

	<!-- 删除角色用户 -->
	<delete id="deleteJsyh" parameterType="string" >
		delete from zftal_xtgl_yhjsb t1 where t1.jsdm = #{jsdm} 
	</delete>

	<!-- 删除角色功能权限 -->
	<delete id="deleteJsgn" parameterType="string" >
		delete from zftal_xtgl_gnmkczb t1 where t1.jsdm=#{jsdm} 
	</delete>
    
	<!-- 查询已分配用户信息列表 -->
	<select id="getPagedYfpyhList" parameterType="RoleModel" resultType="UserModel">
		select  zgh,xm,lxdh,dzyx,sfqy,jgdm,
		 (select bmmc from zftal_xtgl_bmdmb where bmdm_id=t1.jgdm) jgmc
		from zftal_xtgl_yhb t1 where  exists (select 1 from zftal_xtgl_yhjsb t2 where t1.zgh=t2.zgh and t2.jsdm=#{jsdm}) 
		<if test="searchModel.querySQL != null and searchModel.querySQL !=''">
			and ${searchModel.querySQL}
		</if>
	</select>
    
    <!-- 保存角色分配用户信息 -->
    <insert id="zjJsyhxx" >
	    insert into zftal_xtgl_yhjsb (yhm,jsdm) 
	    <foreach collection="yhms" item="item" index="index" separator="union all">
            select #{item},#{jsdm} from dual
        </foreach>
	</insert>
    
    <!-- 删除角色分配用户信息 -->
    <delete id="scJsyhxx" >
	    delete zftal_xtgl_yhjsb where jsdm=#{jsdm} and 
	    <foreach collection="yhms" item="item" index="index" separator="or"  open="("  close=")">
            yhm=#{item}
        </foreach>
	</delete>
    
     <!-- 保存角色功能权限 -->
	<insert id="insertGnqx" >
    	insert into zftal_xtgl_jsgnmkczb (jsdm,gnczid)  
    	 <foreach collection="gnczids" item="item" index="index" separator="union all">
            select #{jsdm},#{item} from dual
        </foreach>
	</insert>
	
	<!-- 删除角色功能权限 -->
	<delete id="deleteGnqx" >
	   delete from zftal_xtgl_jsgnmkczb where jsdm=#{jsdm}
	</delete>
	
	<!-- 角色功能权限列表 -->
	<select id="getUserEjqxList"  resultType="string">
		select t2.qxdm from zftal_xtgl_gnmkczb t1,zftal_xtgl_gnmkczb t2 where t1.gnczid=t2.gnczid and t1.jsdm=#{jsdm} and qxdm > ' '
     	and exists (select 1 from zftal_xtgl_ejqxb t3 where t1.jsgnczid=t3.jsgnczid  and t3.sxz=#{sxz})
	</select>
	
	<!-- 删除角色数据权限 -->
	<delete id="deleteSjqx">
		delete from zftal_xtgl_jssjqxb where jsdm=#{jsdm}
	</delete>
	
	<!-- 保存角色数据权限 -->
	<insert id="insertSjqx">
		insert into zftal_xtgl_jssjqxb(jsdm,gzid)
		<foreach collection="gzids" item="item" index="index" separator="union all">
            select #{jsdm},#{item} from dual
        </foreach>
	</insert>
	
	<!-- 查询角色数据权限 -->
	<select id="getSjqxByJsdm" parameterType="string" resultType="string">
		select gzid from zftal_xtgl_jssjqxb where jsdm=#{jsdm}
	</select>
	
    <select id="getRoleList" parameterType="string" resultType="string">
    	select t.jsdm from zftal_xtgl_yhjsb t where t.yhm = #{yhm}
    </select>
    
    <select id="getPermissions" parameterType="string" resultType="string">
    	select distinct nvl(a.qxdm,a.gnmkdm || '_' || a.czdm ) as qxdm
		  from zftal_xtgl_jsgnmkczb t, zftal_xtgl_gnmkczb a, zftal_xtgl_czdmb b
		 where t.gnczid = a.gnczid
		   and a.czdm = b.czdm
		   and t.jsdm = #{jsdm,jdbcType=VARCHAR}
    </select>
	
	<!-- 角色菜单按钮 -->
	<select id="getButtonList"  resultType="ancdModel">
		select t1.gnczid,t2.czdm,t3.czmc,t3.anys from zftal_xtgl_jsgnmkczb t1,zftal_xtgl_gnmkczb t2,zftal_xtgl_czdmb t3
		 where t1.gnczid=t2.gnczid and t2.czdm=t3.czdm and t1.jsdm=#{jsdm} 
		 <if test="gnmkdm != null and gnmkdm != ''">
		 	and t2.gnmkdm=#{gnmkdm}
		 </if>
		 order by to_number(t2.xssx)
	</select>
	
	<!-- 用户角色列表 -->
	<select id="getJsxxListByZgh" parameterType="string" resultType="RoleModel">
    	select t1.jsdm,t1.jsmc,t1.jssm,t1.jszt from zftal_xtgl_jsxxb t1 where exists (select 1 from zftal_xtgl_yhjsb t2 where t1.jsdm=t2.jsdm and t2.yhm=#{yhm}) and jszt='1'
    </select>
    
    <!-- 菜单对象映射，最多支持三级 -->
	<resultMap id="menuList" type="menu">  
	    <id property="gnmkdm" column="topdm"/>  
	    <result property="gnmkmc" column="topmc"/>  
	    <result property="gnmkjc" column="topjc"/>  
	    <collection property="childrens"  ofType="menu">  
	        <id property="gnmkdm" column="fjgndm"/>  
	    	<result property="gnmkmc" column="fjgnmc"/> 
	    	<result property="gnmkjc" column="fjgnjc"/>   
	    	<collection property="childrens"  ofType="menu">  
		        <id property="gnmkdm" column="gnmkdm"/>  
		    	<result property="gnmkmc" column="gnmkmc"/>  
		    	<result property="xssx" column="xssx"/>  
		    	<result property="dyym" column="dyym"/>  
		    	<collection property="buttonList"  ofType="button">  
			        <id property="gnczid" column="gnczid"/>  
			    	<result property="czmc" column="czmc"/>  
			    	<result property="czdm" column="czdm"/>  
			    </collection>  
		    </collection>  
	    </collection>  
	</resultMap>
    
    <!-- 查询所有的功能权限 -->
	<select id="getAllGnqxList" resultMap="menuList">
		select  t1.czmc,t1.czdm,t2.gnczid,t3.gnmkdm,t3.gnmkmc,t3.dyym,t3.gnmkjc,t3.xssx,t3.fjgndm,     
		       (select gnmkmc from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm) fjgnmc,
		       (select xssx from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm) fjgnxs,
		       (select gnmkjc from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm) fjgnjc,
		       (select fjgndm from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm) topdm,
		       (select gnmkmc from zftal_xtgl_gnmkdmb where gnmkdm=(select fjgndm from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm)) topmc,
		       (select xssx from zftal_xtgl_gnmkdmb where gnmkdm=(select fjgndm from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm)) topxs,
		       (select gnmkjc from zftal_xtgl_gnmkdmb where gnmkdm=(select fjgndm from zftal_xtgl_gnmkdmb t where t.gnmkdm=t3.fjgndm)) topjc
		from zftal_xtgl_gnmkczb t2 
    	left join zftal_xtgl_czdmb t1 on t2.czdm=t1.czdm
		left join zftal_xtgl_gnmkdmb t3 on t2.gnmkdm=t3.gnmkdm 
		order by to_number(topxs),topdm,to_number(fjgnxs),fjgndm,to_number(t3.xssx),t3.gnmkdm,to_number(t2.xssx)
	</select>
	
	<!-- 数据资源 -->
	<resultMap id="sjzyMap"  type="SjzyModel">  
	    <id property="zyid" column="zyid"/>  
	    <result property="zymc" column="zymc"/>  
	    <collection property="zygzList"  ofType="SjzygzModel">  
	        <id property="gzid" column="gzid"/>  
	    	<result property="gztgz" column="gztgz"/> 
	    	<result property="gzmc" column="gzmc"/>   
	    	<result property="gzsm" column="gzsm"/>   
	    </collection>  
	</resultMap>

	<select id="getSjzyList"  resultMap="sjzyMap">
			select t1.zyid,t1.zymc,t2.gzid,t2.gztgz,t2.gzmc,t2.gzsm from zftal_xtgl_sjzyb t1
			left join zftal_xtgl_sjzygz t2 on t1.zyid = t2.zyid
	</select>
	
	<!-- <select id="getSjzy"  resultMap="sjzyMap">
			select t1.zyid,t1.zymc,t2.gzid,t2.gztgz,t2.gzmc,t2.gzsm from zftal_xtgl_sjzyb t1
			left join zftal_xtgl_sjzygz t2 on t1.zyid = t2.zyid
			where t1.zyid=#{zyid}
	</select> -->
	
	<select id="getJsdmByYhm" resultType="java.lang.String" parameterType="java.lang.String">
		select js.jsdm from zftal_xtgl_yhb yh join zftal_xtgl_yhjsb js on yh.yhm=js.yhm where yh.yhm = #{yhm}
	</select>
	
</mapper>