.p-l0 {
	padding-left: 0px;
}

.p-r0 {
	padding-right: 0px;
}

.p-lr0 {
	padding-left: 0px;
	padding-right: 0px;
}

.login-page {
	background: url(../images/login_bg.png) no-repeat center center;
	background-size: 100% 100%;
}

.login-page .login-form-wrap {
	margin-top: 10%;
	margin-right: 15%;
}

.login-page .login-form {
	position: relative;
	background: rgba(255, 255, 255, .75);
	padding: 20px 30px;
	border-radius: 4px;
}

.login-page .login-form .tabs-icon img {
	position: absolute;
	top: -12px;
	right: -14px;
	display: none;
}

.login-page .login-form .tabs-icon img.active {
	display: block;
}

.login-page .login-form .tabs-icon img:hover {
	cursor: pointer;
}

.login-page .login-form>.title {
	margin-bottom: 35px;
}

.login-page .login-form>.title>h3 {
	font-size: 20px;
	font-weight: bold;
	color: #2b425b;
	margin-bottom: 0px;
}

.login-page .login-form>.title>p {
	font-size: 16px;
	color: #777;
	margin: 0px;
}

.login-page .login-form .qrcode-cont {
	display: none;
}

.login-page .login-form .qrcode-cont .scanning-info {
	width: 231px;
	margin: 0 auto;
}

.login-page .login-form .qrcode-cont .scanning-info span {
	color: #666;
}

.login-page .login-form .form-group {
	overflow: hidden;
}

.login-page .login-form .login-cont .form-group:last-child {
	margin-top: 20px;
}

.login-page .login-form .input-group-addon {
	background-color: #fff;
	padding: 5px 12px;
}

.login-page .login-form .form-control:focus {
	box-shadow: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.login-page .login-form .login-btn {
	background-color: #38a0f4;
	border: 1px solid #38a0f4;
}

.login-page .login-form .login-btn-wrap {
	margin-top: 40px;
}

.login-page .login-form .refresh>img {
	margin-top: 8px;
}

.login-page .login-form a {
	color: #666;
}

.login-page .login-form .forget-me {
	margin-top: 8px;
}

.login-page .login-form .forget-me>input {
	vertical-align: middle;
	margin: 0px;
}

.login-page .login-form .forget-me>span {
	vertical-align: middle;
	margin-left: 5px;
	color: #666;
}

.login-page.en .login-form .forget-me>span {
	font-size: 12px;
}

@media(max-width:1408px) and (min-width:1200px) {
	.login-page .login-form-wrap {
		width: 28%;
	}
}

@media(max-width:1280px) {
	.login-page .login-form {
		padding: 20px;
	}
}

@media(max-width:767px) {
	.login-page {
		background: url(../images/login_bg_xs.png) no-repeat center center;
		background-size: 100% 100%;
	}
	.login-page .login-form-wrap {
		margin-top: 30%;
		margin-right: 0px;
		padding: 0px 15px;
	}
}

@media(max-width:320px) {
	.login-page .login-form {
		padding: 20px 10px;
	}
	.login-page.en .login-form {
		padding-top: 20px;
	}
	.login-page.en .login-form .forget-me,
	.login-page.en .login-form .code-operate {
		width: 100%;
	}
	.login-page.en .login-form .forget-me {
		margin-bottom: 5px;
	}
	.login-page.en .login-form .code-operate>div:first-child {
		padding-left: 0px;
	}
}