<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.apimgr.dao.daointerface.IApiApplyChangeDao" >

	<insert id="insert" parameterType="ApiApplyChangeModel">
		insert into ZFTAL_API_APPLY_CHANGE 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="applyChangeId != null and applyChangeId != ''">apply_change_id,</if>
			<if test="applyId != null and applyId != ''">apply_id,</if>
			<if test="changeUser != null and changeUser != ''">change_user,</if>
			<if test="changeTime != null and changeTime != ''">change_time,</if>
			<if test="changeContent != null and changeContent != ''">change_content,</if>
			<if test="changeFile != null and changeFile != ''">change_file,</if>
			<if test="auditStatus != null and auditStatus != ''">audit_status,</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="applyChangeId != null and applyChangeId != ''">#{applyChangeId,jdbcType=VARCHAR},</if>
			<if test="applyId != null and applyId != ''">#{applyId,jdbcType=VARCHAR},</if>
			<if test="changeUser != null and changeUser != ''">#{changeUser,jdbcType=VARCHAR},</if>
			<if test="changeTime != null and changeTime != ''">#{changeTime,jdbcType=VARCHAR},</if>
			<if test="changeContent != null and changeContent != ''">#{changeContent,jdbcType=VARCHAR},</if>
			<if test="changeFile != null and changeFile != ''">#{changeFile,jdbcType=BLOB},</if>
			<if test="auditStatus != null and auditStatus != ''">#{auditStatus,jdbcType=VARCHAR},</if>
		</trim>
		<selectKey keyProperty="applyChangeId" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>
	</insert>
	
	<update id="update" parameterType="ApiApplyChangeModel">
		update ZFTAL_API_APPLY_CHANGE 
		<set>
			<if test="applyChangeId != null and applyChangeId != ''">apply_change_id = #{applyChangeId,jdbcType=VARCHAR},</if>
			<if test="applyId != null and applyId != ''">apply_id = #{applyId,jdbcType=VARCHAR},</if>
			<if test="changeUser != null and changeUser != ''">change_user = #{changeUser,jdbcType=VARCHAR},</if>
			<if test="changeTime != null and changeTime != ''">change_time = #{changeTime,jdbcType=VARCHAR},</if>
			<if test="changeContent != null and changeContent != ''">change_content = #{changeContent,jdbcType=VARCHAR},</if>
			<if test="changeFile != null and changeFile != ''">change_file = #{changeFile,jdbcType=BLOB},</if>
			<if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus,jdbcType=VARCHAR},</if>
		</set>
		where apply_change_id = #{applyChangeId,jdbcType=VARCHAR}
	</update>
	
	<sql id="Base_Query_Sql">
		select ZAL.APPLY_FOR as applyFor,ZAL.APPLY_ID as applyId,ZAL.APPLY_STATUS as applyStatus,ZAL.APPLY_TIME as applyTime,ZAL.APPLY_TO as applyTo,
			ZAL.APPLY_USER as applyUser,ZAI.API_NAME as apiName,ZAI.API_INFO as apiInfo,zad.deploy_status as apiStatus,zaa.app_name as appName,
			zau.audit_opinion as auditOpinion,zau.audit_user as auditUser,
			zal.invoke_ip as invokeIp,zal.invoke_frequency as invokeFrequency,zal.api_key as apiKey,zal.api_secret as apiSecret,
			zaac.APPLY_CHANGE_ID as applyChangeId,zaac.CHANGE_USER as changeUser,zaac.CHANGE_TIME as changeTime,zaac.CHANGE_CONTENT as changeContent,
			zaac.AUDIT_STATUS as auditStatus 
			from ZFTAL_API_APPLY_CHANGE zaac
			join ZFTAL_API_APPLY zal on zal.apply_id = zaac.apply_id
			join ZFTAL_API_DEPLOY zad on zal.APPLY_FOR = zad.deploy_id
			join ZFTAL_API_INFO zai on zai.API_ID = zad.deploy_for
			left join ZFTAL_API_APP zaa on zal.apply_to = zaa.app_id 
			left join ZFTAL_API_AUDIT zau on zaac.APPLY_CHANGE_ID = zau.audit_for
			where 1=1 
			<if test="apiName != null and apiName != ''">
				and zai.api_name like '%'|| #{apiName} ||'%' 
			</if>
			<if test="applyTo != null and applyTo != ''">
				and zal.apply_to = #{applyTo} 
			</if>
	</sql>
	
	<select id="getModel" resultType="ApiApplyChangeModel" parameterType="ApiApplyChangeModel">
		<include refid="Base_Query_Sql" />
			and apply_change_id = #{applyChangeId}
	</select>
	
	<select id="getApplyChangeList" resultType="ApiApplyChangeModel" parameterType="java.lang.String">
		select apply_change_id as applyChangeId,apply_id as applyId,change_user as changeUser,change_time as changeTime,change_content as changeContent,
			change_file as changeFile,audit_status as auditStatus from zftal_api_apply_change where apply_id = #{applyId}
	</select>
	
	<!-- 查询申请变更信息列表 -->
	<select id="getPagedList" resultType="ApiApplyChangeModel" parameterType="ApiApplyChangeModel">
		<include refid="Base_Query_Sql" />
		<if test="applyUser != null and applyUser != ''">
			and zal.apply_user = #{applyUser} 
		</if>
		<if test="applyId != null and applyId != ''">
			and zaac.apply_id = #{applyId} 
		</if>
	</select>
	
	<!-- 查询变更审核信息列表 -->
	<select id="getPagedAuditList" resultType="ApiApplyChangeModel" parameterType="ApiApplyChangeModel">
		<include refid="Base_Query_Sql" />
		<if test="applyUser != null and applyUser != ''">
			and zad.deploy_owner = #{applyUser} 
		</if>
		<if test="applyId != null and applyId != ''">
			and zaac.apply_id = #{applyId} 
		</if>
	</select>
	
	<delete id="delete" parameterType="ApiApplyChangeModel">
		delete from zftal_api_apply_change where apply_change_id = #{applyChangeId,jdbcType=VARCHAR}
	</delete>
	
</mapper>