<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.apimgr.dao.daointerface.IApiDeployDao" >
	
	<resultMap id="ApiInfoMap" type="ApiInfoModel">
		<result property="id" column="API_ID" />
		<result property="name" column="API_NAME" />
		<result property="type" column="API_TYPE" />
		<result property="url" column="API_URL" />
		<result property="info" column="API_INFO" />
		<result property="desc" column="API_DESC" />
		<result property="owner" column="API_OWNER" />
		<result property="time" column="API_TIME" />
	</resultMap>
	
	<resultMap id="ApiDeployMap" type="ApiDeployModel">
		<id property="id" column="DEPLOY_ID" />
		<result property="iconbyte" column="DEPLOY_ICON" />
		<result property="status" column="DEPLOY_STATUS" />
		<result property="type" column="DEPLOY_TYPE" />
		<result property="method" column="DEPLOY_METHOD" />
		<result property="addr" column="DEPLOY_ADDR" />
		<result property="desc" column="DEPLOY_DESC" />
		<result property="ver" column="DEPLOY_VER" />
		<result property="owner" column="DEPLOY_OWNER" />
		<result property="time" column="DEPLOY_TIME" />
		<result property="apiId" column="DEPLOY_FOR" />
		<result property="apiName" column="API_NAME" />
		<result property="apiInfo" column="API_INFO" />
		<!-- association property="api" column="DEPLOY_FOR" javaType="com.zfsoft.boot.apimgr.dao.entities.ApiInfoModel" select="getApiInfoModel" / -->
	</resultMap>
	
	<select id="getIcon" resultType="ApiDeployModel" parameterType="java.lang.String">
		select t.DEPLOY_ICON as iconbyte from ZFTAL_API_DEPLOY t where t.DEPLOY_ID = #{deployId,jdbcType=VARCHAR}
	</select>
	
	<select id="getModel" resultMap="ApiDeployMap" parameterType="java.lang.String">
		select t.DEPLOY_ID,
		       t.DEPLOY_STATUS,
		       t.DEPLOY_TYPE,
		       t.DEPLOY_METHOD,
		       t.DEPLOY_ADDR,
		       t.DEPLOY_DESC,
		       t.DEPLOY_VER,
		       t.DEPLOY_OWNER,
		       t.DEPLOY_TIME,
		       t.DEPLOY_FOR,
		       x.API_NAME,
		       x.API_INFO
		  from ZFTAL_API_DEPLOY t, ZFTAL_API_INFO x
		 where t.DEPLOY_FOR = x.API_ID
		   and t.DEPLOY_ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<sql id="Base_Column_List" >
		DEPLOY_ID,DEPLOY_STATUS,DEPLOY_TYPE,DEPLOY_METHOD,DEPLOY_ADDR,DEPLOY_DESC,DEPLOY_VER,DEPLOY_OWNER,DEPLOY_TIME,DEPLOY_FOR
	</sql>
	
	<select id="getModelList" resultMap="ApiDeployMap" parameterType="ApiDeployModel">
		select <include refid="Base_Column_List" /> from ZFTAL_API_DEPLOY where DEPLOY_STATUS = 1
	</select>
	
	<select id="getPagedList" resultMap="ApiDeployMap" parameterType="ApiDeployModel">
			select 
			 <include refid="Base_Column_List" />
			 from ZFTAL_API_DEPLOY t 
			<where>
		      <if test="id!=null and id!=''">
			    	and t.DEPLOY_FOR = #{id}
			   </if>
			   <if test="type!=null and type!=''">
			   		and t.DEPLOY_TYPE = #{type}
			   </if>
		   </where>
			order by t.DEPLOY_TIME desc,t.DEPLOY_VER desc	
	</select>
	
	<select id="getVersions" resultMap="ApiDeployMap" parameterType="java.lang.String">
		select * from (
	      select DEPLOY_ID,deploy_ver from zftal_api_deploy t 
	      	where DEPLOY_FOR =#{id,jdbcType=VARCHAR}
	    	group by DEPLOY_ID,deploy_ver 
	    	order by deploy_ver desc
		) where rownum=1
	</select>
	
	<select id="checkAddr" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count('1') as ct from ZFTAL_API_DEPLOY where DEPLOY_ADDR =#{addr,jdbcType=VARCHAR}
	</select>
	
	<insert id="insert" parameterType="ApiDeployModel">
		<![CDATA[
			INSERT INTO  ZFTAL_API_DEPLOY (
					DEPLOY_ID,
					DEPLOY_STATUS,
					DEPLOY_TYPE,
					DEPLOY_METHOD,
					DEPLOY_ADDR,
					DEPLOY_FOR,
					DEPLOY_ICON,
					DEPLOY_VER,
					DEPLOY_DESC,
					DEPLOY_OWNER
				)
			VALUES(
				#{id},
				'1',
				#{type,jdbcType=VARCHAR},
				#{method,jdbcType=VARCHAR},
				#{addr,jdbcType=VARCHAR},
				#{apiId,jdbcType=VARCHAR},
				#{iconbyte},
				#{ver},
			    #{desc,jdbcType=VARCHAR},
			    #{owner,jdbcType=VARCHAR}
			)
		]]>
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>
	</insert>
	
	<delete id="delete" parameterType="ApiDeployModel">
		delete from ZFTAL_API_DEPLOY t where t.DEPLOY_ID = #{id}
	</delete>
	
	<update id="update" parameterType="ApiDeployModel">
	  	update ZFTAL_API_DEPLOY
	  	<set>
	     	DEPLOY_STATUS=#{status,jdbcType=VARCHAR}
	 	 </set>
	  	where DEPLOY_ID =#{id,jdbcType=VARCHAR}
	</update>

	<select id="getPagedSearchList" resultType="ApiDeployModel" parameterType="ApiDeployModel">
		select ZAI.API_NAME as apiName,ZAI.API_INFO as apiInfo,ZAD.DEPLOY_ID as "id",ZAD.DEPLOY_STATUS as "status",zad.DEPLOY_TIME as "time",
			ZAD.DEPLOY_TYPE as "type",ZAD.DEPLOY_VER as "ver",ZAD.DEPLOY_OWNER as "owner",zai.api_id as apiId,
			zad.DEPLOY_METHOD AS method,zad.DEPLOY_ADDR AS addr,(
				SELECT COUNT(ID) FROM ZFTAL_METRIC_DATA VD WHERE VD.TIME24 like to_char(sysdate,'yyyy-MM-dd')||'%'
					AND ZAD.DEPLOY_ID = VD.BIZ_ID
			) AS dayValue,(
				SELECT COUNT(ID) FROM ZFTAL_METRIC_DATA VM WHERE VM.TIME24 <![CDATA[>=]]> to_char(sysdate-30,'yyyy-MM-dd HH:mm:ss')
					AND ZAD.DEPLOY_ID = VM.BIZ_ID
			) AS monthValue 
			from ZFTAL_API_DEPLOY zad
			left join ZFTAL_API_INFO zai on ZAD.DEPLOY_FOR = ZAI.API_ID 
			where zad.DEPLOY_STATUS = 1
			<if test="apiName != null and apiName != ''">
				and (zai.API_NAME like '%'|| #{apiName} ||'%' or zai.API_INFO like '%'|| #{apiName} ||'%')
			</if>
	</select>
	
	<!-- 下拉框数据 -->
	<select id="getComboList" resultType="ApiDeployModel" parameterType="ApiDeployModel">
		select d.DEPLOY_ID as id,d.DEPLOY_DESC as "desc",i.api_id as apiId,i.API_NAME as apiName,
			d.deploy_type as type,d.deploy_ver as ver  
		from ZFTAL_API_DEPLOY d 
		left join ZFTAL_API_INFO i on d.DEPLOY_FOR = i.api_id
		where DEPLOY_STATUS = 1
		<if test="owner != null and owner !=''">
	    	and DEPLOY_OWNER = #{owner}
	   </if>
	</select>
	
	<select id="getModelListByApiInfoId" resultMap="ApiDeployMap" parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from ZFTAL_API_DEPLOY where DEPLOY_FOR = #{apiId}
	</select>
	
</mapper>