<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.apimgr.dao.daointerface.IApiInvokeDao" >
	
	<insert id="insert" parameterType="ApiInvokeModel">
		insert into zftal_api_invoke 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="apiId != null and apiId != ''">api_id,</if>
			<if test="invokeDeployId != null and invokeDeployId != ''">invoke_deploy_id,</if>
			<if test="paramRelation != null and paramRelation != ''">param_relation,</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="apiId != null and apiId != ''">#{apiId,jdbcType=VARCHAR},</if>
			<if test="invokeDeployId != null and invokeDeployId != ''">#{invokeDeployId,jdbcType=VARCHAR},</if>
			<if test="paramRelation != null and paramRelation != ''">#{paramRelation,jdbcType=VARCHAR},</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="ApiInvokeModel">
		update zftal_api_invoke set invoke_deploy_id = #{invokeDeployId},param_relation = #{paramRelation} 
			where api_id = #{apiId}
	</update>
	
	<delete id="delete" parameterType="ApiInvokeModel">
		delete from zftal_api_invoke where api_id = #{apiId}
	</delete>
	
	<select id="exists" parameterType="ApiInvokeModel" resultType="java.lang.Integer">
		select count('1') from zftal_api_invoke where api_id = #{apiId}
	</select>
	
	<select id="getModel" parameterType="java.lang.String" resultType="ApiInvokeModel">
		select api_id as apiId,invoke_deploy_id as invokeDeployid,param_relation as paramRelation 
			from zftal_api_invoke where api_id = #{id}
	</select>
	
</mapper>