<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.apimgr.dao.daointerface.IApiInfoDao" >

	<resultMap id="ApiInfoMap" type="ApiInfoModel">
		<result property="id" column="API_ID" />
		<result property="name" column="API_NAME" />
		<result property="type" column="API_TYPE" />
		<result property="dbid" column="API_FOR" />
		<result property="info" column="API_INFO" />
		<result property="detail" column="API_DETAIL" />
		<result property="desc" column="API_DESC" />
		<result property="owner" column="API_OWNER" />
		<result property="time" column="API_TIME" />
	</resultMap>
	
	<sql id="Base_Column_List" >
	      API_ID,API_NAME,API_TYPE,API_FOR,API_INFO,API_DETAIL,API_DESC,API_OWNER,API_TIME
	 </sql>

	<insert id="insert" parameterType="ApiInfoModel">
		insert into ZFTAL_API_INFO 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">API_ID,</if>
			<if test="name != null and name != ''">API_NAME,</if>
			<if test="time != null and time != ''">API_TIME,</if>
			<if test="type != null and type != ''">API_TYPE,</if>
			<if test="dbid != null and dbid != ''">API_FOR,</if>
			<if test="info != null and info != ''">API_INFO,</if>
			<if test="detail != null and detail != ''">API_DETAIL,</if>
			<if test="desc != null and desc != ''">API_DESC,</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id,jdbcType=VARCHAR},</if>
			<if test="name != null and name != ''">#{name,jdbcType=VARCHAR},</if>
			<if test="time != null and time != ''">#{time,jdbcType=VARCHAR},</if>
			<if test="type != null and type != ''">#{type,jdbcType=VARCHAR},</if>
			<if test="dbid != null and dbid != ''">#{dbid,jdbcType=VARCHAR},</if>
			<if test="info != null and info != ''">#{info,jdbcType=VARCHAR},</if>
			<if test="detail != null and detail != ''">#{detail,jdbcType=VARCHAR},</if>
			<if test="desc != null and desc != ''">#{desc,jdbcType=CLOB},</if>
		</trim>
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>
	</insert>
	
	<insert id="insertInfo" parameterType="ApiInfoModel">
		<![CDATA[
			INSERT INTO 
				ZFTAL_API_INFO (
					API_NAME,
					API_TYPE,
					API_FOR,
					API_INFO,
					API_DETAIL,
					API_DESC,
					API_OWNER
				)
			VALUES(
				#{name,jdbcType=VARCHAR},
				#{type,jdbcType=VARCHAR},
				#{dbid,jdbcType=VARCHAR},
				#{info,jdbcType=VARCHAR},
				#{detail,jdbcType=VARCHAR},              
			    #{desc,jdbcType=VARCHAR},
			    #{owner,jdbcType=VARCHAR}
			)
		]]>
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>
	</insert>
	
	<select id="getDependencies" resultType="java.util.HashMap" parameterType="java.util.List">
		SELECT t.API_ID,
		       t.API_NAME,
		       x.DEPLOY_ADDR
		  FROM ZFTAL_API_INFO t, ZFTAL_API_DEPLOY x
		 WHERE t.API_ID = x.DEPLOY_FOR
		   AND t.API_ID in
			<foreach collection="list" item="ids"  open="(" separator="," close=")">
			   #{ids}
			</foreach>
	</select>
	
	<delete id="batchDelete" parameterType="java.util.List">
		delete from ZFTAL_API_INFO where API_ID in
		<foreach collection="list" item="ids"  open="(" separator="," close=")">
		   #{ids}
		</foreach>
	</delete>
	
	<update id="update" parameterType="ApiInfoModel">
		update ZFTAL_API_INFO 
		<set>
			<if test="name != null and name != ''">API_NAME = #{name,jdbcType=VARCHAR},</if>
			<if test="dbid != null and dbid != ''">API_FOR = #{dbid,jdbcType=VARCHAR},</if>
			<if test="info != null and info != ''">API_INFO = #{info,jdbcType=VARCHAR},</if>
			<if test="detail != null and detail != ''">API_DETAIL = #{detail,jdbcType=VARCHAR},</if>
			<if test="desc != null and desc != ''">API_DESC = #{desc,jdbcType=CLOB},</if>
		</set>
		where API_ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getPagedList" resultMap="ApiInfoMap" parameterType="ApiInfoModel">
		select t.api_id,t.api_name,t.api_type,t.api_for,t.api_info,t.api_desc,t.api_owner,t.api_time,
		    (case when d.deploynum > 0 then deploynum else 0 end) as deploynum,
			(case when i.api_id is not null then 1 else 0 end) as invokeenable
		from zftal_api_info t
			left join (select count('1') as deploynum,deploy_for from zftal_api_deploy 
				group by deploy_for) d on t.api_id = d.deploy_for
			left join zftal_api_invoke i on t.api_id = i.api_id
		where 1 = 1 
	   <if test="name!=null and name!=''">
	    	and t.api_name like '%'||#{name}||'%'
	   </if>
	   <if test="type!=null and type!=''">
	   		and t.api_type = #{type}
	   </if>
	   <if test="owner != null and owner != ''">
	   		and t.api_owner = #{owner}
	   </if>
	</select>
	
	<select id="getPagedSearchList" resultMap="ApiInfoMap" parameterType="ApiInfoModel">
		select API_ID,API_NAME,API_TIME,API_TYPE,API_FOR,API_INFO,API_DESC from ZFTAL_API_INFO 
		<where>
			<if test="name != null and name != ''">
				and (API_NAME like '%'|| #{name} ||'%' or API_INFO like '%'|| #{name} ||'%')
			</if>
		</where>
	</select>
	
	<select id="getModel" resultMap="ApiInfoMap" parameterType="ApiInfoModel">
		select 
		<include refid="Base_Column_List" />
		 from ZFTAL_API_INFO 
		 where API_ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getModelList" resultMap="ApiInfoMap" parameterType="ApiInfoModel">
		select 
		<include refid="Base_Column_List" />
		 from ZFTAL_API_INFO 
	</select>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from zftal_api_info where api_id = #{id}
	</delete>
	
</mapper>