<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.apimgr.dao.daointerface.IApiMetircDao" >
	
	<resultMap id="ApiMetircMap" type="ApiMetircModel">
		<result property="id" column="ID" />
		<result property="bizId" column="BIZ_ID" />
		<result property="bizName" column="BIZ_NAME" />
		<result property="appKey" column="APP_KEY" />
		<result property="appName" column="APP_NAME" />
		<result property="addr" column="ADDR" />
		<result property="uri" column="URI"/>
		<result property="deviceName" column="DEVICE_NAME"/>
		<result property="osName" column="OS_NAME" />
		<result property="osVer" column="OS_VER" />
		<result property="osMfr" column="OS_MFR" />
		<result property="browserName" column="BROWSER_NAME" />
		<result property="browserVer" column="BROWSER_VER" />
		<result property="browserType" column="BROWSER_TYPE" />
		<result property="browserKernel" column="BROWSER_KERNEL" />
		<result property="userAgent" column="USER_AGENT" />
		<result property="time" column="TIME24" />
	</resultMap>
	
	<insert id="insert" parameterType="ApiMetircModel">
		insert into ZFTAL_METRIC_DATA(BIZ_ID,BIZ_NAME,APP_KEY,ADDR,URI,DEVICE_NAME,OS_NAME,OS_VER,OS_MFR,BROWSER_NAME,BROWSER_VER,BROWSER_TYPE,BROWSER_KERNEL,USER_AGENT)
		values(#{bizId},#{bizName},#{appKey},#{addr},#{uri},#{deviceName},#{osName},#{osVer},#{osMfr},#{browserName},#{browserVer},#{browserType},#{browserKernel},#{userAgent})
	</insert>
	
	<sql id="Base_Column_List" >
		ID,BIZ_ID,BIZ_NAME,APP_KEY,nvl((select x.app_name from ZFTAL_API_APP x where x.app_key = t.APP_KEY  and rownum = 0),'Unkown') as APP_NAME,ADDR,URI,DEVICE_NAME,OS_NAME,OS_VER,OS_MFR,BROWSER_NAME,BROWSER_VER,BROWSER_TYPE,BROWSER_KERNEL,USER_AGENT,TIME24
	</sql>
	 
	<select id="getModel" resultMap="ApiMetircMap" parameterType="java.lang.String">
		SELECT 
			<include refid="Base_Column_List" /> 
		  FROM ZFTAL_METRIC_DATA t
		   AND t.ID = #{id}
	</select>
	
	<select id="getPagedList" resultMap="ApiMetircMap" parameterType="ApiMetircModel">
		SELECT 
			<include refid="Base_Column_List" /> 
		  FROM ZFTAL_METRIC_DATA t
		  <where>
			<if test="bizId != null and bizId != '' ">
				AND t.BIZ_ID = #{bizId}
			</if>
			<if test="appKey != null and appKey != '' ">
				AND t.APP_KEY = #{appKey}
			</if>
			<if test="addr != null and addr != '' ">
				AND t.ADDR = #{addr}
			</if>
			<if test="deviceName != null and deviceName != '' ">
				AND t.DEVICE_NAME = #{deviceName}
			</if>
			<if test="osName != null and osName != '' ">
				AND t.OS_NAME = #{osName}
			</if>
			<if test="osVer != null and osVer != '' ">
				AND t.OS_VER = #{osVer}
			</if>
			<if test="osMfr != null and osMfr != '' ">
				AND t.OS_MFR = #{osMfr}
			</if>
			<if test="browserName != null and browserName != '' ">
				AND t.BROWSER_NAME = #{browserName}
			</if>
			<if test="browserVer != null and browserVer != '' ">
				AND t.BROWSER_VER = #{browserVer}
			</if>
			<if test="browserType != null and browserType != '' ">
				AND t.BROWSER_TYPE = #{browserType}
			</if>
			<if test="browserKernel != null and browserKernel != '' ">
				AND t.BROWSER_KERNEL = #{browserKernel}
			</if>
			<if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
				<![CDATA[AND (t.TIME24 >= #{beginTime} and t.TIME24 <= #{endTime}) ]]>
			</if>
		</where>
	</select>
	
	<select id="countByAppKey" resultType="ApiMetircModel">
		SELECT APP_KEY as appKey,COUNT(ID) AS top from ZFTAL_METRIC_DATA WHERE TIME24 like to_char(sysdate,'yyyy-MM-dd')||'%' GROUP BY APP_KEY
	</select>
	
	<delete id="deleteByAppKey" parameterType="java.lang.String">
		delete from zftal_metric_data where app_key = #{appKey}
	</delete>
	
</mapper>